SKIP_PREFLIGHT_CHECK=true
PORT=3000

#URL of the server running NOMAD back-end API
REACT_APP_API_URL=http://my-uni.ac.uk

#Set true if corresponding NOMAD module is used

#Submission portal
REACT_APP_SUBMIT_ON=true
#Batch submission portal
REACT_APP_BATCH_SUBMIT_ON=true
