.AuthAvatar {
	cursor: pointer;
	font-size: large;
	font-weight: 600;
}

.User {
	background-color: #096dd9;
}
.UserA {
	background-color: #52c41a;
}

.Admin {
	background-color: #cf1322;
}

.Popover:hover {
	color: #096dd9;
	font-weight: 600;
	cursor: pointer;
}
